name: Output Product Information

on:
  workflow_call:
    inputs:
      productName:
        description: 'The name of the product'
        required: true
        type: string
      SolutionFiles:
        description: 'The solution file for the product'
        required: true
        type: string
    # Define the outputs for the entire workflow
    outputs:
      productName:
        description: "The product name passed as input"
        value: ${{ jobs.deploy.outputs.product-name-out }}
      SolutionFiles:
        description: "The solution file passed as input"
        value: ${{ jobs.deploy.outputs.solution-file-out }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    # Define the outputs for this specific job
    outputs:
      product-name-out: ${{ steps.set-outputs.outputs.product-name }}
      solution-file-out: ${{ steps.set-outputs.outputs.solution-file }}
    steps:
      - name: Print Product Information
        run: |
          echo "Processing Product: ${{ inputs.productName }}"
          echo "Using Solution File: ${{ inputs.SolutionFiles }}"

      - name: Set Outputs
        id: set-outputs
        run: |
          echo "product-name=${{ inputs.productName }}" >> $GITHUB_OUTPUT
          echo "solution-file=${{ inputs.SolutionFiles }}" >> $GITHUB_OUTPUT
